venv/
__pycache__/
*.pyc
db.sqlite3
media/products/*
!media/products/.gitkeep
staticfiles/manifest.json
staticfiles/.staticfiles
*.log
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
index.html
node_modules/
package-lock.json
